@import "tailwindcss";

@font-face {
    font-family: WindsorOpti-LightCondensed;
    src: url(WindsorOpti-LightCondensed.otf);
}

@font-face {
    font-family: Tinos;
    src: url(Tinos-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Tinos;
    src: url(Tinos-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: Tinos;
    src: url(Tinos-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Tinos;
    src: url(Tinos-Regular.ttf);
}
  

@theme {
    --font-heading: "WindsorOpti-LightCondensed", "serif";
    --font-body: "Tinos", "serif";
}

h1 {
    @apply font-heading;
}

h2 {
    @apply font-heading text-5xl py-4;
}

h3 {
    @apply font-heading;
}

p, div {
    @apply font-body text-xl py-2;
}

a {
    @apply text-emerald-600 underline underline-offset-4 hover:decoration-wavy
}