@import "tailwindcss";

@font-face {
    font-family: WindsorOpti-LightCondensed;
    src: url(/fonts/WindsorOpti-LightCondensed.otf) format("opentype");
    font-display: swap;
}

@font-face {
    font-family: Tinos;
    src: url(/fonts/Tinos-Bold.ttf) format("truetype");
    font-weight: bold;
    font-display: swap;

}

@font-face {
    font-family: Tinos;
    src: url(/fonts/Tinos-Italic.ttf) format("truetype");
    font-style: italic;
    font-display: swap;

}

@font-face {
    font-family: Tinos;
    src: url(/fonts/Tinos-BoldItalic.ttf) format("truetype");
    font-weight: bold;
    font-style: italic;
    font-display: swap;

}

@font-face {
    font-family: Tinos;
    src: url(/fonts/Tinos-Regular.ttf) format("truetype");
    font-display: swap;

}

@font-face {
    font-family: PixelOperator;
    src: url(/fonts/PixelOperator.ttf) format("truetype");
    font-display: swap;

}

@font-face {
    font-family: PixelOperator;
    src: url(/fonts/PixelOperator-Bold.ttf) format("truetype");
    font-weight: bold;
    font-display: swap;

}
  

@theme {
    --font-heading: WindsorOpti-LightCondensed, "serif";
    --font-body: Tinos, "serif";
    --font-pixel: PixelOperator, "mono";
}

@layer base {
    h1 {
        @apply font-heading;
    }

    h2 {
        @apply font-heading text-3xl md:text-5xl;
    }

    h3 {
        @apply font-heading;
    }

    p, div {
        @apply font-body text-lg md:text-xl py-2;
    }

    a {
        @apply text-emerald-600 underline underline-offset-4 hover:decoration-wavy
    }
}